[Unit]
Description=Atlassian Jira Service
After=syslog.target network.target
   
[Service]
Type=forking
User={{ jira_user }}
Group={{ jira_group }}
Environment=JAVA_HOME={{ jira_install }}/jre
ExecStart={{ jira_install }}/jira/bin/start-jira.sh
ExecStop={{ jira_install }}/jira/bin/stop-jira.sh
   
[Install]
WantedBy=multi-user.target
