rmiPort$Long={{ jira_rmi }}
app.jiraHome={{ jira_home }}
app.install.service$Boolean=true
existingInstallationDir=/usr/local/JIRA
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jira_install }}
executeLauncherAction$Boolean=true
httpPort$Long={{ jira_http_port }}
portChoice=default
